NEXT_PUBLIC_SUPABASE_URL="https://jsgsyzihebvfzceoatpp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzZ3N5emloZWJ2ZnpjZW9hdHBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NDExMTMsImV4cCI6MjA5NDExNzExM30.szLVNj0yadaOHOSIZLHEspQ9sJ4Jr40Bgw8smBNkfv0"
